.side-nav-style {
  border-left: 3px solid #000;
  padding-left: 10px;
}

.archive .card.integration-box {
  box-shadow: 0px 0px 0px 0px #e9edf2;
  border-bottom: 1px solid #e9edf2;
  border-radius: 0px;
}

.archive .card.integration-box,
.preview-wrapper .card.integration-box,
.bp-user .card.integration-box {
  padding: 17px 60px 27px 15px;
  max-width: unset;
  margin: 0px;
  box-shadow: 0px 0px 0px 1px #e9edf2;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.card.integration-box {
  padding: 0px;
  border: 0px;
  position: relative;
  /* max-width: 350px; */
  margin-left: 0px;
}

.card.integration-box .integration-icon {
  border-radius: 2px;
  width: 44px;
  height: 35px;
  box-shadow: none;
}

.integration-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: block;
  position: absolute;
}

.archive .card.integration-box .integration-detail,
.preview-wrapper .card.integration-box .integration-detail,
.bp-user .card.integration-box .integration-detail {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 7px;
}

.card.integration-box .integration-detail {
  margin-left: 60px;
}

.archive .card.integration-box .integration-detail h3,
.preview-wrapper .card.integration-box .integration-detail h3,
.bp-user .card.integration-box .integration-detail h3 {
  width: auto;
  margin-bottom: 0px;
  min-width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.card.integration-box.pricing .integration-detail h3 {
  width: calc(100% - 75px);
  margin-right: 0px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.archive .card.integration-box .app-price,
.preview-wrapper .card.integration-box .app-price,
.bp-user .card.integration-box .app-price {
  text-align: left;
}

.card.integration-box .app-price {
  width: 70px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  color: #4199d8;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  padding-left: 5px;
}

.archive .card.integration-box .integration-tagline,
.preview-wrapper .card.integration-box .integration-tagline,
.bp-user .card.integration-box .integration-tagline {
  display: inline;
  vertical-align: middle;
}

.card.integration-box .integration-tagline {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  color: #97a3ae;
  overflow: hidden;
}

.cta-heading {
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 10px;
}

a {
  color: inherit;
}

.not-found {
  padding: 40px;
  font-weight: 600;
  text-align: center;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #d8d8d8;
  background-color: #fff;
}
