<div class="limiter">
  <div class="container-signup100">
    <div class="wrap-signup100 p-5">
      <div class="container signup">
        <div class="text-center pb-25">
          <img src="../../../../assets/images/logo_blue.png" alt="" />
        </div>
        <div class="text-center signup-container">
          <h2>SIGN UP</h2>
          <p class="mt-4">Enter your personal details below</p>
        </div>
        <div class="text-center">
          <p class="success-message" *ngIf="successfullySignup">Sign Up Successfully</p>
          <p class="error-message" *ngIf="!successfullySignup">{{errorMessage}}</p>
        </div>
        <div class="row mt-4">
          <div class="col-md-12 col-md-offset-3">
            <form
              [formGroup]="formGroup"
              class="signup-form"
              (validSubmit)="onSubmit()"
            >
              <div class="form-group">
                <label class="control-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  formControlName="Name"
                />
              </div>
              <div class="form-group">
                <label class="control-label">Business Email</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Business Email"
                  formControlName="BusinessEmail"
                />
              </div>
              <div class="form-group">
                <label class="control-label">Password</label>
                  <div class="input-group mt-4">
                  <input class="form-control" [type]="isPasswordShow ? 'text' : 'password'" placeholder="Password"
                    formControlName="Password">
                  <span class="toggle-password" [ngClass]="isPasswordShow ? 'icon-hide' : 'icon-show'"
                    (click)="showPassword()"></span>
                </div>
              </div>
              <div class="form-group form-check">
                <div class="row">
                  <div class="col-md-12">
                    <label class="form-check-label">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        formControlName="AgreeCondition"
                      />
                      <span
                        >I agree <a href="#.">Terms of Service</a> and
                        <a href="#.">Data Processing policy</a>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary w-100" type="submit">
                Sign up
              </button>
              <div class="backtologin">Already have an account? <a href="#" class="color-blue" [routerLink]="['/login']">Click here to Log In</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
