@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
    margin: 19.75rem auto;
  }
  
}

.modal-content {
  border-radius: 0;
}

.modal-heading {
  font-weight: 600;
  line-height: 1.25;
}

.modal-footer {
  border-top: none;
}

.modal-header {
  border-bottom: none;
}

.btn-css {
  border-radius: 0px;
  border: 0.5px solid #007bff;
}

.download-btn-css {
  border-radius: 0px;
}

