<app-header></app-header>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 ml-4 mb-4">
      <div class="breadcrumb">
        <a (click)="goToHome()">{{'appDetails.appStore' | translate}}</a>
        <span class="sep"><i class="fa fa-angle-right"></i></span>
        <span class="active">{{'appDetails.appDetails' | translate}}</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <img  src="http:{{logo}}"
          class="w-100 img-properties" alt="">
      </div>
      <div class="col-md-12 mt-5 pl-0">
        <div class="col-12 mb-4">
          <h4 class="side-nav-style mb-3">{{'appDetails.categories' | translate}}:</h4>
          <div class="div_style" *ngFor="let category of categories">
            <a class="badge badge-default" id="all-apps" role="tab" aria-controls="all-apps">{{category}}</a>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-md-12 mt-5 pl-0">
        <div class="col-12 mb-5">
          <h4 class="side-nav-style mb-3">{{'appDetails.developerlinks' | translate}}:</h4>
          <div class="list-group " id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action pl-0" id="all-apps" value="list.label" role="tab"
              aria-controls="all-apps">{{'appDetails.support' | translate}}</a>
            <a class="list-group-item list-group-item-action pl-0" id="all-apps" value="list.label" role="tab"
              aria-controls="all-apps">{{'appDetails.website' | translate}}</a>
            <a class="list-group-item list-group-item-action pl-0" id="all-apps" value="list.label" role="tab"
              aria-controls="all-apps">{{'appDetails.termsOfService' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-8 pl-0">
          <h2 class="heading mb-3">{{appDetails.name}}</h2>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-primary btn-block download-btn" data-toggle="modal" data-target="#modal"
            (click)="openModal()">{{'appDetails.download' | translate}}</button>
          <app-modal *ngIf="showModal" [inputAppData]="appData"></app-modal>
        </div>
      </div>
      <div class="row mt-4">
        <div class="app-details-description" [innerHTML]="description"></div>
      </div>
      <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <h4 class="side-nav-style mb-3">{{'appDetails.gallery' | translate}}</h4>
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let image of images let i = index" [ngClass]="{'active' : i == 0}">
              <img *ngIf="image.imageExt != 'video'" class="d-block w-100" [src]="image.imagePath" alt="First slide">
              <iframe *ngIf="image.imageExt == 'video'" width="760" height="460" [src]="image.imagePath" frameborder="0"
                allowfullscreen></iframe>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
