<label class="switch-container">
  <input #inputElement class="switch-container__checkbox" type="checkbox" [checked]="isChecked"
         (change)="handleCheckedState(inputElement.checked)">
  <span class="switch-container__slider switch-container__slider_round"></span>
</label>
